* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-image: url(./pc.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
nav {
  background-color: #fff;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
ul {
  display: flex;
  justify-content: flex-end;

  list-style: none;
}
li {
  padding: 20px;
}
li:first-child {
  margin-right: auto;
}
li:hover{
  cursor: pointer;
  background-color: rgb(233, 233, 233);
}
